<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/cuentaCobro/cuentaCobro.css">
    <title>Cuenta de cobro</title>

    <%- include ('../../template/head/head.ejs') %>

</head>
<body>
    <section>
            
        <div class='boton_regresar' style='display:flex; justify-content: center; align-items:center; position: absolute; left:20px; top:50px;border: 2px solid darkblue;
        height: 90px; width: 200px; background-color: #C6BCBA'>
            <a href="/main" class="btn btn-primary regresar" style='margin:auto'>Regresar</a>
        </div>

            <div class="contenedor">
                <form action='/cuentaCob' method='POST' class="formulario">
    
                    <div class="cuadros">
        
                        <img class="logo" src="/resource/css/cuentaCobro/utils/logoCc_09.png" width="240" height="120">
                        <ul class="encabezado">
                            <li><b>Daniel Felipe Zapata Bustamante</b></li>
                            <li><b>NIT 1.017.153.447-8</b></li>
                            <li>CLASIFICACIÓN NO RESPONSABLE DE IVA</li>
                            <li>calle 32b No 69 41 Medellín-Antioquia</li>
                            <ul>
                                <li>Tel: 417 41 13</li>
                                <li>Cel: 311 369 74 89</li>
                            </ul>
                            <ul>
                                <li><b>CUENTA DE COBRO</b></li>
                                <li><b>No.</b></li>
                                <li><b><%= cuenta_c.result3.no__fac %></b></li>
                            </ul>
                        </ul>
                    </div>
        
                    <p class="parrafo"><b>DOCUMENTO EQUIVALENTE A UNA FACTURA (Art.13 Ley 1527 2012)</b></p>
        
                    <!--div class="cuadros"-->
                        <table class="datos__Conta">
                            <tr>
                                <td><b>Nombre o razón social</b></td>
                                <td colspan="2"><%= cuenta_c.result3.nombre %></td>
                                <td><b>ID/NIT</b></td>
                                <td colspan="2"><%= cuenta_c.result3.id_cliente %></td>
                            </tr>
                            <tr>
                                <td><b>Dirección</b></td>
                                <td><%= cuenta_c.result3.direccion %></td>
                                <td><b>Ciudad</b></td>
                                <td><%= cuenta_c.result3.ciudad %></td>
                                <td><b>Teléfono</b></td>
                                <td><%= cuenta_c.result3.telefono1 %></td>
                            </tr>
                            <tr>
                                <td><b>E-MAIL</b></td>
                                <td colspan="2"><%= cuenta_c.result3.email %></td>
                                <td><b>Celular</b></td>
                                <td><%= cuenta_c.result3.telefono2 %></td>
                            </tr>
                            <tr>
                                <td><b>Ciudad y fecha de la operación de cobro</b></td>
                                <td><%= cuenta_c.result3.ciudad_c %></td>
                                <td colspan="4"><%= cuenta_c.result3.fech_entr %></td>
                            </tr>
                            <tr>
                                <td><b>Forma de pago</b></td>
                                <td><%= cuenta_c.result3.form_pago %></td>
                            </tr>
                        </table>
        
                    <!--/div-->
        
                    <p class="parrafo"><b>DESCRIPCIÓN DE LOS BIENES O SERVICIOS</b></p>
        
                    <!--div class="cuadros"-->
                        <table class="productos">
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Ref</th>
                                <th>Cantidad</th>
                                <th>Vr unidad</th>
                                <th>Vr total</th>
                            </tr>
                            <tr>
                                <td><%=cuenta_c.result4.id_gasto  %></td>
                                <td><%=cuenta_c.result4.nombre %></td>
                                <td><%=cuenta_c.result4.id_prod %></td>
                                <td><%=cuenta_c.result4.cantidad %></td>
                                <td><%=cuenta_c.result4.valor_unit %></td>
                                <td><%= %></td>
                            </tr>
        
                            <tr>
                                <td colspan="5"><b>VALOR TOTAL</b></td>
                                <td><%= %></td>
                            </tr>
                            <tr>
                                <td colspan="2">Retención en la fuente - compras en general</td>
                                <td colspan="2"><%= %></td>
                                <td colspan="2"><%= %></td>
                            </tr>
                            <tr>
                                <td colspan="7"><input type="text" name="precio_letras" placeholder="Precio en letras" size="40"></td>
                            </tr>
                        </table>
                    <!--/div-->
                    <p class="parrafo"><b></b></p>
                    <!--div class="cuadros"-->
                        <table class="pago" >
                            <tr>
                                <td><%= cuenta_c.result3.form_pago %></td>
                                <td colspan="4" style="font-size: 12px; ">Consignación cta ahorros Bancolombia 274 831 39786</td>
                            </tr>
                            <tr>
                                <td>Firma del vendedor</td>
                                <td colspan="3"><img src="" alt=""></td>
                            </tr>
                            <tr>
                                <td colspan="3">Enviado al e-mail</td>
                                <td colspan="3"><input type="text" name="e_mail_env" size="10"></td>
                            </tr>
                            <tr>
                                <td colspan="3">Firma de quien recibe</td>
                                <td colspan="3"><input type="text" name="firm_recibe" size="10"></td>
                                <td colspan="3">aceptado</td>
                                <td colspan="3"><input type="text" placeholder="SI/NO" name="aceptado" size="10"></td>
                            </tr>
                            <tr>
                                <td colspan="3">Fecha/entrega</td>
                                <td colspan="3"><input type="text" name="fecha_entrega" size="10"></td>
                            </tr>
                        </table>
    
            
                </form>
            </div>
        

    </section>
</body>
</html>