<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/pedido/pedido.css">
    <link rel="shortcut icon" type="image/x-icon" href="/resource/css/main/utils/naturana.png">
    <title>Pedido</title>

    <%- include ('../../template/head/head.ejs') %>

</head>

<body>
    
    <%- include ('../../template/header/header.ejs') %>

    <section class="contenedor" id="formulario">

        <%- include ("../../template/cliente/cliente.ejs") %>

        <h3 class="contenedor-titulo">Registrar pedido</h3>

        <form class="forCotn">

            <div class="col colL">
                <div class="row">
                    <label for="formGroupExampleInput" class="form-label fw-bolder">Identificación del cliente</label>
                    <input type="text" name="idCli__ped" class="form-control" required placeholder="Identificación del cliente"
                        aria-label="First name">
                </div>

                <div class="row">
                    <label for="validationDefault04" class="form-label fw-bolder mt-1">Forma de pago</label>
                    <select class="form-select" name="pago__ped" id="validationDefault04" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Efectivo</option>
                        <option>Tarjeta</option>
                        <option>Cuotas</option>
                    </select>
                </div>

                <div class="row">
                    <label for="formGroupExampleInput" class="form-label fw-bolder mt-1
                mt-1">Fecha ingreso</label>
                    <input type="text" name="fechIng__ped" class="form-control" required placeholder="YYYY/MM/DD"
                        aria-label="First name">
                </div>
                <div class="row pb-3">
                    <label for="formGroupExampleInput" class="form-label fw-bolder mt-1">Fecha Entrega</label>
                    <input type="text" name="fechEnt__ped" class="form-control" required placeholder="YYYY/MM/DD"
                        aria-label="First name">
                </div>
                <div class="col pb-3">
                    <submmit type="submit" action='gen_ped' method='POST' class="btn btn-secondary btn-lg">Agregar</submmit>
                    <a class="btn btn-secondary btn-lg" href="/main" role="button">Inicio</a>
                </div>
            </div>
            <div class="col colR">
                <div class="row">
                    <label for="formGroupExampleInput" class="form-label fw-bolder">Id Producto</label>
                    <input type="text" name="idPro__ped" class="form-control" placeholder="Id producto" aria-label="First name">
                </div>
                <div class="row">
                    <label for="formGroupExampleInput" class="form-label fw-bolder">Cantidad</label>
                    <input type="text" name="cantPro__ped" class="form-control" placeholder="Cantidad" aria-label="First name">
                </div>
                <div class="row">
                    <label for="validationDefault04" class="form-label fw-bolder mt-1">Estado Recepción</label>
                    <select class="form-select" name="estRecep__ped" id="validationDefault04" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Derivada a despacho</option>
                        <option>Cliente desiste</option>
                    </select>
                </div>
                <div class="row">
                    <label for="validationDefault04" class="form-label fw-bolder mt-1">Estado despacho</label>
                    <select class="form-select" name="estDesp__ped" id="validationDefault04" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Entregado</option>
                        <option>Cliente desiste</option>
                    </select>
                </div>
            </div>
            <% if (typeof alert != "undefined") { %> 
                <script>
                    Swal.fire({
                        title: '<%= alertTitle %>',
                        text: '<%= alertMessage %>',
                        icon: '<%= alertIcon %>',
                        showConfirmButton: '<%= showConfirmButton %>',
                        timer: <%= timer %>
                    })
                 </script>
            <% } %>
        </form>

        <h3 class="contenedor-titulo">Buscar producto</h3>
        <div class="formBuscProd">
            <nav class="formBuscProd-busc navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand">Buscar Producto</a>
                    <form action="bus_pro" method="POST" class="d-flex">
                        <input class="form-control me-2" name="inpBus_pro" type="search" placeholder="Número del producto"
                            aria-label="Search">
                        <button class="btn btn-outline-success mx-2" type="submit">Buscar</button>
                        <button class="btn btn-outline-success" type="submit">Limpiar</button>
                    </form>
                </div>
            </nav>

            <div class="formBuscProd-table row-12">
                <div class="col-md-12 mt4 text-center">
                    <table class="table table-striped">
                        <tr>
                            <th>REFERENCIA</th>
                            <th>NOMBRE</th>
                            <th>VALOR UNITARIO</th>
                            <th>CANTIDAD INSUMO</th>
                            <th>CANTIDAD DISPONIBLE</th>
                        </tr>
                        <tr>

                            <% for (let i = 0; i < producto.length; i++) {%>
                                <tr>
                                    <td><%= producto[i].id%></td>
                                    <td><%= producto[i].nombre%></td>
                                    <td><%= producto[i].cantidad_Tien %></td>
                                    <td><%= producto[i].valor_unit %></td>
                                    <td><%= producto[i].cantidad_ins_consum %></td>
                                </tr>
                            <%} %> 

                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
</section> 
    <%- include("../../template/footer/footer.ejs") %> 

 
</body>

</html>