<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/pedido/pedido.css">
    <link rel="shortcut icon" type="image/x-icon" href="/resource/css/main/utils/naturana.png">
    <title>Pedido</title>

    <%- include ('../../template/head/head.ejs') %>

</head>

<body>
    
    <%- include ('../../template/header/header.ejs') %>

    <section class="contenedor" id="formulario">

        <%- include ("../../template/cliente/cliente.ejs") %>

        <h3 class="contenedor-titulo">Registrar pedido</h3>

        <form action="/pedido" method="POST" class="formulario2">

            <div class="formulario__grupo-input" id="grupo__Nombre">
                <label for="formGroupExampleInput" class="formulario__label fw-normal">Id / cliente</label>
                <input type="text" name="idCli__ped" class="formulario__input" required placeholder="Identificación del cliente"
                aria-label="First name">
            <div class="formulario__validacion-estado"><i class= "fas fa-times-circle"></i></div>
            <div class="formulario__input-error"><p>SOLO LETRAS EN MAYUSCULA, 1 A 40 DIGITOS.</p></div>
            </div>

            <div class="formulario__grupo-input" id="grupo__Nombre">
                <label for="formGroupExampleInput" class="formulario__label fw-normal">Ciudad de Cobro</label>
                <input type="text" name="ciuCobro__ped" class="formulario__input" required placeholder="Ciudad de Cobro"
                aria-label="First name">
            <div class="formulario__validacion-estado"><i class= "fas fa-times-circle"></i></div>
            <div class="formulario__input-error"><p>SOLO LETRAS EN MAYUSCULA, 1 A 40 DIGITOS.</p></div>
            </div>

            <div class="formulario__grupo-input" id="grupo__Horario">

            <label for="validationDefault04" class="formulario__label fw-normal">Forma de pago</label>
                    <select class="form-select" name="pago__ped" id="validationDefault04" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Efectivo</option>
                        <option>Tarjeta</option>
                        <option>Cuotas</option>
                    </select>

            <div class="formulario__validacion-estado"><i class= "fas fa-times-circle"></i></div>
            <div class="formulario__input-error"><p>DEBE SELECCIONAR UNA OPCIÓN</p></div>
            </div>

            <div class="formulario__grupo-input" id="grupo__Nombre">
                <label for="formGroupExampleInput" class="formulario__label fw-normal mt-1
                mt-1">Fecha de ingreso</label>
                <input type="text" name="fechIng__ped" class="formulario__input" required placeholder="YYYY/MM/DD"
                aria-label="First name">
            <div class="formulario__validacion-estado"><i class= "fas fa-times-circle"></i></div>
            <div class="formulario__input-error"><p>SOLO LETRAS EN MAYUSCULA, 1 A 40 DIGITOS.</p></div>
            </div>

            <div class="formulario__grupo-input" id="grupo__Nombre">
                <label for="formGroupExampleInput" class="formulario__label fw-normal mt-1">Fecha de Entrega</label>
                    <input type="text" name="fechEnt__ped" class="formulario__input" required placeholder="YYYY/MM/DD"
                        aria-label="First name">
            <div class="formulario__validacion-estado"><i class= "fas fa-times-circle"></i></div>
            <div class="formulario__input-error"><p>SOLO LETRAS EN MAYUSCULA, 1 A 40 DIGITOS.</p></div>
            </div>

             <div class="formulario__grupo-input" id="grupo__Nombre">
                    <label for="formGroupExampleInput" class="formulario__label fw-normal">Referencia unica</label>
                    <input type="text" name="referencia" class="formulario__input" placeholder="Referencia" aria-label="First name">
            <div class="formulario__validacion-estado"><i class= "fas fa-times-circle"></i></div>
            <div class="formulario__input-error"><p>SOLO LETRAS EN MAYUSCULA, 1 A 40 DIGITOS.</p></div>
            </div>

            <a type="button" style="display:flex; grid-column: span 3; justify-content: flex-start; align-items: center; " href="/insertProducto"><span class="material-icons">local_hospital</span></a>

            <div class="fila1" style="grid-column: span 3; align-items: center; justify-content: center; margin:auto; ">
                
                <% for(let i of prodComf) {%>
                    <div>
                        <label for="formGroupExampleInput" class="form-label fw-bolder">Producto</label>
                        <input type="text" name ="ref_pro_ped" class="form-control"></input>
                        
                        <label for="formGroupExampleInput" class="form-label fw-bolder">Cantidad</label>
                        <input type="text" name="cant_pro_ped" class="form-control"></input>
                    </div>
                
                <% } %>

            </div>

  <div class="formulario__grupo formulario__grupo-btn-registrar" style='margin-bottom:20px;'>
      <button type="submit" class="formulario__btn">Agregar</button>
      <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Se registro correctamente</p>
  </div> 
            


            <% if (typeof alert != "undefined") { %> 
                <script>
                    Swal.fire({
                        title: '<%= alertTitle %>',
                        text: '<%= alertMessage %>',
                        icon: '<%= alertIcon %>',
                        showConfirmButton: '<%= showConfirmButton %>',
                        timer: <%= timer %>
                    })
                 </script>
            <% } %>
        </form>

        <h3 class="contenedor-titulo">Buscar producto</h3>

    <table style="padding:10px; margin:10px;" id="table" class="table table-striped table-bordered table-lg" cellspacing="0" width="100%">

        <thead>
            <tr >
                <th>REFERENCIA</th>
                <th>NOMBRE</th>
                <th>CANTIDAD DISPONIBLE</th>
                <th>VALOR UNITARIO</th>
                <th>CANTIDAD INSUMO</th>
                
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < producto.length; i++) { %>
            <tr >

                <th scope="row" align="center" valign="middle"><%= producto[i].id%></th>
                <td align="center" valign="middle"><%= producto[i].nombre%></td>
                <td align="center" valign="middle"><%= producto[i].cantidad_Tien %></td>
                <td align="center" valign="middle"><%= producto[i].valor_unit %></td>
                <td align="center" valign="middle"><%= producto[i].cantidad_ins_consum %></td>

            </tr>
            <% } %> 
        </tbody>
        
    </table>

           <div style="margin:30px; ">
             <a href="/main" class="btn btn-primary" >Regresar</a>
            </div>
</section> 
    <%- include("../../template/footer/footer.ejs") %> 
    <script>
        $(document).ready( function () {
        $('#table').DataTable();
        } );
    </script>
</body>

</html>